{% extends "site_base.html" %}
{% load i18n %}
{% block head_title %}{% trans "About" %}{% endblock %}
{% block body %}
        {% blocktrans %}
            <h2>About this project</h2>
        {% endblocktrans %}
        {% blocktrans %}
            This project provides profiles, friends, photos, blogs, tribes, wikis, tweets, bookmarks, swaps, locations and user-to-user messaging.<br />
            It will allows later new applications for sharing music, allowing duels between members, etc. 
        {% endblocktrans %}
{% endblock %}
