/* GENERAL TAB STYLING */

#left_tabs {
    /*position: absolute;*/
    bottom: -1px; /* must be same thickness as tab border */
    /*left: 210px; [> based on width and padding of logo <]*/
}
#right_tabs {
    /*min-width:160px;*/
    width:170px;
    /*max-width:220px;*/
    /*background-color: #000;*/
    /*background: -moz-linear-gradient(100% 100% 180deg, #444, #000);*/
    /*background: -webkit-gradient(linear, left top, right top, from(#000), to(#444));*/
    /*width: 20%;*/
    position: absolute;
    top: 0;
    min-height:450px;
    height:50%;
    right:10px;
}
#right_tabs>.login {
    position: relative;
    top: 6px;
    right: 320px;
    width:310px;
    color: #555; /* login bar text colour */
    z-index:1;
}
#right_tabs>.login a, #right_tabs>.login a:visited {
    color: #aaa; /* login bar link colour */
}
#right_tabs>.login a:hover {
    color: #FFF; /* login bar link hover colour */
}

ul.tabs a, ul.tabs a:visited {
    font-weight: bold;
    text-decoration: none;
}
ul.tabs li {
    position: absolute;
    list-style-type: none;
    background: url(/site_media/static/pinax/img/alert-overlay.png) repeat-x;
    padding: 5px 10px 6px;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
}
ul.tabs li a {
    /*padding: 5px 12px;*/
    display: block;
    width: 100%;
}
ul.tabs {
    margin: 0;
    padding-left: 0;
    position: relative;
    left: 5%;
    top: 23px;
    z-index:2;
}

/* Colors tabs */
ul.tabs .black a, ul.tabs .black a:visited {
    color: #fff; /* unselected tab text colour */
}
ul.tabs .white a, ul.tabs .white a:visited {
    color: #000; /* unselected tab text colour */
}
ul.tabs li.black:hover {
    border-color: rgba(0,0,0,0.25);
    border-style: inset;
    -moz-box-shadow: 0
    -webkit-box-shadow: 0;
    border-bottom:0;
}
ul.tabs li.white:hover {
    border-color: rgba(0,0,0,0.25);
    border-style: inset;
    -moz-box-shadow: 0
    -webkit-box-shadow: 0;
    border-bottom:0;
}
ul.tabs li.black {
    background-color: #000;
    width: 60%;
}
ul.tabs li.white {
    background-color: #fff;
    width: 80%;
}


.clearfix {
    min-height: 1%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* hides from ie5-mac \*/
* html .clearfix { height: 1%; }
/* end hide from ie5-mac */
