/* GENERAL TAB STYLING */

#left_tabs {
    position: absolute;
    bottom: -1px; /* must be same thickness as tab border */
    /*left: 210px; [> based on width and padding of logo <]*/
}
#right_tabs {
    /*width: 100px;*/
    float: right;
    margin: 0;
    /*position: absolute;*/
    /*right: 4%;*/
    /*bottom: -1px; [> must be same thickness as tab border <]*/
}

ul.tabs a, ul.tabs a:visited {
    font-weight: bold;
    text-decoration: none;
}
ul.tabs li {
    list-style-type: none;
    background: url(/site_media/static/pinax/img/alert-overlay.png) repeat-x;
    padding: 5px 10px 6px;
    margin : 10% 15% 0 0;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
}
ul.tabs li a {
    /*padding: 5px 12px;*/
}
ul.tabs {
    /*margin: 0 0 5px;*/
    padding: 0;
}

/* Colors tabs */
ul.tabs .black a, ul.tabs .black a:visited {
    color: #fff; /* unselected tab text colour */
}
ul.tabs .white a, ul.tabs .white a:visited {
    color: #000; /* unselected tab text colour */
}
ul.tabs li.black:hover {
    background-color: #222; /* unselected tab text hover colour */
}
ul.tabs li.white:hover {
    background-color: #ddd; /* unselected tab text hover colour */
}
ul.tabs li.black {
    background-color: #000;
}
ul.tabs li.white {
    background-color: #fff;
}
