{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8"/>
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>

        <meta name="description" content="Piano network community who share music and tracks, comment and organize tournaments and contest, to improve the level of every members" />
        <meta name="author" content="Piano-Maestoso" />
        <meta name="Copyright" content="Copyright Piano-Maestoso 2010. All Rights Reserved." />
        <meta name="DC.title" content="Piano Maestoso" />
        <meta name="DC.subject" content="Piano community to share tracks and give comments on them" />
        <meta name="DC.creator" content="Adrien LEMAIRE" />
        <meta name="google-site-verification" content="3obphbMROSzesaZj7RACYnYiJDHXUxFT6dzoK60Ci8c" />

        <link rel="shortcut icon" href="{{ STATIC_URL }}pinax/img/favicon.ico" />

        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/base_piano_maestoso.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs_piano_maestoso.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/facebox.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/announcements.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/accounts.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}uni_form/uni-form.css" />
        {% if LANGUAGE_BIDI %}
        <style media="screen">
            div.right_panel {
                float: left; /* hotfix for sidebar */
            }
        </style>
        {% endif %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}
     {% comment %}{% if not svg_background %} site-background{% endif %}{% endcomment %}">
        <div id="container">
            {% if site_wide_announcements %}
                <div id="site_wide_announcements">
                    <ul>
                        {% for announcement in site_wide_announcements %}
                        <li>
                            <a href="{{ announcement.get_absolute_url }}">{{ announcement }}</a> -
                            <a href="{% url announcement_hide announcement.pk %}?next={{ request.path }}"
                                >{% trans "Hide announcement" %}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div id="tabhead">
                <div class="logo" dir="ltr">{% block logo_link_image %}{% endblock %}</div>
                {% if messages %}
                    <ul id="messages">
                        {% for message in messages %}
                        <li id="message_{{ forloop.counter }}"{% if message.tags %} 
                         class="{{ message.tags }}"{% endif %}>
                            <a href="#"><small>{% trans "clear" %}</small></a>
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div id="left_tabs" >{% block left_tabs %}{% endblock %}</div>
                <div id="subnav" class="clearfix">
                    {% block subnav_base %}
                        <div class="clearfix">
                            {% block subnav %}&nbsp;{% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>

            {% block body_outer %}
                <div id="body">
                <div class="login">
                    {% block login %}{% endblock %}
                    {% block locale_switcher %}{% endblock %}
                    <div style="text-align: right;"></div>
                </div>
                    <div id="body_block">
                        {% block body %}
                        {% endblock %}
                        <div id="footer">{% block footer %}{% endblock %}</div>
                        <div></div>
                    </div>
                    <!--<div class="clearboth"></div>-->
                </div>
            {% endblock %}
        </div>

        <!-- Menu right -->
            <div id="right_tabs" >
                {% block right_tabs %}{% endblock %}
            </div>
        <!-- /Menu right-->


        <script src="{% block jquery_src %}{{ STATIC_URL }}pinax/js/jquery-1.3.2.min.js{% endblock %}"></script>
        <script src="{{ STATIC_URL }}pinax/js/base.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.animatecss3.js"></script>
        <script src="{{ STATIC_URL }}uni_form/uni-form.jquery.js"></script>
        {% include "facebox_js.html" %}
        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
