{% extends "base.html" %}

{% load i18n %}
{% load analytics %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/avatar.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/blogs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/comments.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/friends.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/groups.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/locations.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/messages.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/microblogging.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/pagination.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/photos.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/topics.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/wiki.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/jquery.autocomplete.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}bookmarks/css/bookmarks.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}pianostore/css/pianostore.css"/>
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}pinax/img/logo_piano_maestoso.png" alt="Pinax"/></a>{% endblock %}

{% block login %}
    {% include "_account_bar.html" %}
{% endblock %}

{% block locale_switcher %}
    <form action="{% if request.user.is_authenticated %}{% url acct_language_change %}{% else %}/i18n/setlang/{% endif %}" method="post" id="locale_switcher">
        {% csrf_token %}
        <select name="language" onchange="$('#locale_switcher').submit()">
            {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}"{% ifequal lang.0 LANGUAGE_CODE %} selected="selected"{% endifequal %}>{{ lang.1 }}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% block right_tabs %}
    {% if user.is_authenticated %}
        <div class="blackcontainer">
            <div class="blackkey2set">
                <div id="tab_pianostore" class="as1 blackkey2set1"><a href="{% url all_tracks %}">{% trans "Piano" %}</a></div>
                <div id="tab_blogs" class="gs1 blackkey2set2"><a href="{% url blog_list_all %}">{% trans "Blogs" %}</a></div>
            </div>
            <div class="blackkey3set">
                <div id="tab_tweets" class="fs1 blackkey3set1"><a href="{% url tweets_you_follow %}">{% trans "Tweets" %}</a></div>
                <div id="tab_locations" class="ds1 blackkey3set2"><a href="{% url loc_yours %}">{% trans "Locations" %}</a></div>
                <div class="cs1 blackkey3set3">&nbsp;</div>
            </div>
        </div>
        <div class="whitecontainer">
            <div id="tab_profile" class="b1"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></div>
            <div id="tab_photos" class="a1"><a href="{% url photos %}">{% trans "Photos" %}</a></div>
            <div id="tab_tribes" class="g1"><a href="{% url tribe_list %}">{% trans "Tribes" %}</a></div>
            <div id="tab_bookmarks" class="f1"><a href="{% url all_bookmarks %}">{% trans "Bookmarks" %}</a></div>
            <div id="tab_swaps" class="e1"><a href="{% url offer_list_all %}">{% trans "Swaps" %}</a></div>
            <div id="tab_inbox" class="d1"><a href="{% url messages_inbox %}">{% trans "Inbox" %} ({{ combined_inbox_count }})</a></div>
            <div class="c1">&nbsp;</div>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2010 &lt;Piano Maestoso&gt;" %}
    - <a href="{% url about %}">{% trans "About" %}</a>
    - <a href="{% url terms %}">{% trans "Terms of Service" %}</a>
    - <a href="{% url privacy %}">{% trans "Privacy Policy" %}</a>
    - <a href="{% url dmca %}">{% trans "DMCA Notice" %}</a>
</div>
{% endblock %}

{% block extra_body_base %}
    {% ga %}
    <script src="{{ STATIC_URL }}pinax/js/topics.js"></script>
    {% if debug and svg_background %}
        <script src="https://getfirebug.com/firebug-lite.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}js/tabs.js"></script>
    {% block extra_body %}{% endblock %}
{% endblock %}
