{% extends "pianostore/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% blocktrans %}Add Track{% endblocktrans %}{% endblock %}


{% block extra_body_base %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uploadProgress.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}pianostore/js/jQueryRotate.js"></script>
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
    /*$(document).ready(function() {
        $(function() {
            $('#upload_form').uploadProgress({
            jqueryPath: "{{ STATIC_URL }}pinax/js/jquery-1.3.2.min.js",
                progressBar: '#progress_indicator',
                progressUrl: '{% url upload_progress %}',
                start: function() {
                    $("#upload_form").hide();
                    filename = $("#id_file").val().split(/[\/\\]/).pop();
                    $("#progress_filename").html('Uploading ' + filename + "...");
                    $("#progress_container").show();
                },
                uploadProgressPath: "{{MEDIA_URL}}js/jquery.uploadProgress.js",
                uploading: function(upload) {
                    if (upload.percents == 100) {
                        window.clearTimeout(this.timer);
                        $("#progress_filename").html('Processing ' + filename + "...");
                    } else {
                        $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                    }
                },
                interval: 1000
            });
        });
    });*/
    $("#id_rotation").after("<img id='rotation_tool' src='{{ STATIC_URL }}" +
        "pianostore/img/icon_play_video.gif'></img>");
    $("#id_rotation").hide();
    var rot_deg = 45;
    var rot_val = rot_deg;
    var rot=$('#rotation_tool').rotate({bind: [
            {"click":function(){
                rot_val = (rot_val == 360 )? 0 : rot_val;
                rot[0].rotateAnimation(rot_deg);
                var hint = $("#hint_id_rotation").html().split(":")[0];
                hint = hint + ": <b>" + rot_val + "%</b>";
                $("#id_rotation").val(rot_val);
                $("#hint_id_rotation").html(hint);
                rot_deg += 45;
                rot_val += 45;
            }},
    ]});
    //]]>
    </script>

{% endblock %}

{% block body %}
    <h1>{% trans "Add Track" %}</h1>

    <form id="upload_form" enctype="multipart/form-data" method="POST" action="/pianostore/upload/" class="uniForm">
        {% csrf_token %}

        <div id="progress_container">
            <div id="progress_filename"></div>
            <div id="progress_bar">
                <div id="progress_indicator"></div>
            </div>
        </div>

        <fieldset class="inlineLabels">
            {{ track_form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="upload" value="upload">
                <input type="submit" value="{% trans 'add track' %}">
            </div>
        </fieldset>
    </form>
{% endblock %}
