{% extends "pianostore/base.html" %}
 
{% load i18n %}
{% load uni_form_tags %}
 
{% block head_title %}{% blocktrans %}Add Track{% endblocktrans %}{% endblock %}
 
{% block body %}
    <h1>{% trans "Add Track" %}</h1>
 
    <form enctype="multipart/form-data" method="POST" action="" class="uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ track_form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="upload_ok" value="value">
                <input type="submit" value="{% trans 'add track' %}">
            </div>
        </fieldset>
    </form>
{% endblock %}
