{% extends "pianostore/base.html" %}
 
{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
{% load comments_tag %}
 
{% block head_title %}{% blocktrans %}Track Description{% endblocktrans %}{% endblock %}
 
{% block body %}
    <h1>{{ track.title }}</h1>
        <p>
             <div class="coverart" >
                {% if track.fullpicture %}
                    {{ track.fullpicture|safe }}
                {% else %}
                    <img src="{{ STATIC_URL }}pinax/img/silk/icons/picture_empty.png" border="0" class="noborder" align="absmiddle" />
                {% endif %}
            </div>
        </p>
        <p>
            <!-- track info -->
            <h3>{{ track.title }}</h2>
            <div class="body">
                <strong><i>{{ track.artist }}<br />{{ track.composer }}<br /></strong></i>
                            {{ track.description|linebreaks }}
                <video width="320" height="240" controls preload tabindex="0">
                    <source src="{{ MEDIA_URL }}{{ track.track_mp4 }}"  type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                    <source src="{{ MEDIA_URL }}{{ track.track_webm }}" type='video/webm; codecs="vp8, vorbis"'>
                    <source src="{{ MEDIA_URL }}{{ track.track_ogv }}"  type='video/ogg; codecs="theora, vorbis"'>
                    <p> {% blocktrans %}Your browser is old.{% endblocktrans %} <a href="{{ track.track_mp4 }}"> {% blocktrans %}Download this video instead.{% endblocktrans %}</a> </p> 
                </video>
                </video>
                {% if not track.track_mp4 %}
                    {% blocktrans %}<br />The video is currently being converted to web formats, please come back later{% endblocktrans %}
                {% endif %}
            </div>
        </p>
        <p>
            <!-- track action -->
            {% if isyours %}
                <table>
                    <tr>
                        <td>
                            <!-- udpate track -->
                            <form method="GET" action="{% url update_track track.id %}">
                                <input type="submit" value="{% trans "Update Track" %}" />
                            </form>
                        </td>
                        <td>
                            <!-- delete track -->
                            <form method="POST" action="{% url delete_track track.id %}">
                                {% csrf_token %}
                                <input type="submit" value="{% trans "Delete Track" %}" />
                            </form>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </p>
        <p class="meta">
            <!-- meta -->
            <div class="avatar" >{% avatar track.adder 40 %}</div>
            <div class="details">
                {% blocktrans %}added by{% endblocktrans %}
                <a href="{% url profile_detail track.adder.username %}">{{ track.adder }}</a>
            </div>
            {% blocktrans %}on{% endblocktrans %} {{ track.date_added|date }}
            <!-- comments -->
            <h3 id="comments">{% blocktrans %}Comments on this Track{% endblocktrans %}:</h3>
            {% comments track %}
        </p>
 
{% endblock %}
