{% extends "pianostore/base.html" %}
 
{% load i18n %}
{% load uni_form_tags %}
{% load avatar_tags %}
 
{% block head_title %}{% blocktrans %}Track Description{% endblocktrans %}{% endblock %}
 
{% block body %}
    <h1>{{ track.title }}</h1>
        <p>
             <div class="coverart" >{{ track.fullpicture|safe }}</div>
        </p>
        <p>
            <!-- track info -->
            <h3>{{ track.title }}</h2>
            <div class="body">
                <strong><i>{{ track.publisher }}<br />{{ track.author }}<br /></strong></i>
                            {{ track.description|linebreaks }}
            </div>
        </p>
        <p>
            <!-- track action -->
            {% if isyours %}
                <table>
                    <tr>
                        <td>
                            <!-- udpate track -->
                            <form method="GET" action="{% url update_track track.id %}">
                                <input type="submit" value="{% trans "Update Track" %}" />
                            </form>
                        </td>
                        <td>
                            <!-- delete track -->
                            <form method="POST" action="{% url delete_track track.id %}">
                                {% csrf_token %}
                                <input type="submit" value="{% trans "Delete Track" %}" />
                            </form>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </p>
        <p class="meta">
            <!-- meta -->
            <div class="avatar" >{% avatar book.adder 40 %}</div>
            <div class="details">
                {% blocktrans %}added by{% endblocktrans %}
                <a href="{% url profile_detail track.adder.username %}">{{ track.adder }}</a>
            </div>
            {% blocktrans %}on{% endblocktrans %} {{ track.added|date }}
        </p>
 
{% endblock %}
