{% extends "pianostore/base.html" %}
 
{% load i18n %}
{% load avatar_tags %}
{% load pagination_tags %}
{% load threadedcommentstags %}
 
{% block head_title %}{% blocktrans %}Piano store{% endblocktrans %}{% endblock %}
 
{% block body %}
 
    <h1>
        {% ifequal list 'all' %}
            {% trans "All Tracks" %}
        {% endifequal %}
        {% ifequal list 'user' %}
            {{ username }} {% trans "tracks" %}
        {% endifequal %}
        {% ifequal list 'yours' %}
            {% trans "Your Tracks" %}
        {% endifequal %}
    </h1>
 
    <!-- alternate -->
    {% if tracks %}
    {% autopaginate tracks 5 %}

        <table class="pianostore">
            {% for track in tracks %}
                <tr class="{% cycle odd,even %}">
                    <!-- meta -->
                    <td class="meta" >
                        <div class="avatar" >{% avatar track.adder 40 %}</div>
                        <div class="details">{% blocktrans %}added by{% endblocktrans %} <a href="{% url profile_detail track.adder.username %}">{{ track.adder }}</a></div>
                        {% blocktrans %}on{% endblocktrans %} {{ track.date_added|date }}
                        <a href="/pianostore/user_tracks/{{ track.adder.username }}"><i>{% blocktrans %}View all tracks added by {% endblocktrans %}{{ track.adder }}</i></a>
                    </td>
                    <!-- track info -->
                    <td>
                        <h3><a href="/pianostore/{{ track.id }}/track/">{{ track.title }}</a></h2>
                        <div class="body">
                            <strong><i>{{ track.artist }}<br />{{ track.composer }}<br /></strong></i>
                            {{ track.description|linebreaks|truncatewords:50 }}
                        </div>
                        <!-- comments -->
                        <img src="{{ STATIC_URL }}pinax/img/silk/icons/comment.png" border="0" class="noborder" align="absmiddle" />
                            <a href="/pianostore/{{ track.id }}/track/#comments"
                                >{% get_comment_count for track as commentcount %}{{ commentcount }} Comments</a>
                            <br />
                        {% ifequal list 'yours' %}
                            <table>
                                <tr>
                                    <td>
                                        <!-- udpate track -->
                                        <form method="GET" action="{% url update_track track.id %}">
                                            <input type="submit" value="{% trans "Update Track" %}" />
                                        </form>
                                    </td>
                                    <td>
                                        <!-- delete track -->
                                        <form method="POST" action="{% url delete_track track.id %}">
                                            {% csrf_token %}
                                            <input type="submit" value="{% trans "Delete Track" %}" />
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        {% endifequal %}
                    </td>
                    <!-- cover art -->
                    <td>
                        <div class="coverart" >
                            {% if track.thumb %}
                                {{ track.thumb|safe }}
                            {% else %}
                                <img src="{{ STATIC_URL }}pinax/img/silk/icons/picture_empty.png" border="0" class="noborder" align="absmiddle" />
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
 
    {% paginate %}
    {% else %}
        <p>{% trans "No tracks yet." %}</p>
    {% endif %}
 
{% endblock %}
